body {
	background-image: url('../images/purple_bg.png');
	font-family: "Lucida Grande", Verdana, sans-serif;
}

#tiles-top {
	width: 100%;
	z-index: 2;
	min-width: 500px;
}

#tiles-top.live-tile {
	width: 33%;
	margin-left: 10%;
}

#tiles-left {
	width: 150px;
	z-index: 2;
}

#content {
	margin-top: 78px;
}

#container { position: relative; }

#contentcontainer {
	color: #fff;
	height: 90%;
	width: 90%;
	margin: 10px;
	border: 1px solid #000;
	background-color: #8243d6;
	/*min-height: 345px;*/
}

#innercontent, #nextcontent {
	padding: 10px;
}

#right {
	margin-left: 160px;
	width: 85%;
	height: 95%;
}

.tile-title {
	font-weight: bold;
}

#left {
	width: 10%;
}

#left, #right {
	top: 0;
	position: fixed;
	display: inline-block;
}

.live-tile {
	text-transform: lowercase;
}

.live-tile:not(.static) {
	cursor: pointer;
}

p.tile-header { 
	font-size: 22px!important;
	font-weight: bold;
}

#internal-content {
	display: none;
}

a:visited, a {
	color: #fff;
}

.live-tile:not(#tile-me), .content {
	border: 1px solid #000;
}

.content-header {
	font-size: 22px;
	text-align: center!important;
}

.content-subheader {
	font-size: 12px;
	text-align: center!important;
}