"name": "kyle j. kemp",
"size": 50
"children": [
  "name": "about",
  "children": [
    "name": "21"
  ,
    "name": "game designer"
  ,
    "name": "irc-aholic"
  ,
    "name": "oshkosh, wi"
  ,
    "name": "uw oshkosh"
  ,
    "name": "software engineer"
  ,
    "name": "rock climbing"
  ,
    "name": "wire flowers"
  ,
    "name": "wicked web wizardry"
  ]
,
  "name": "contact",
  "children": [
    "name": "email"
    "link": "mailto: kyle@seiyria.com"
  ,
    "name": "github"
    "link": "https://github.com/seiyria"
  ,
    "name": "linkedin"
    "link": "http://www.linkedin.com/in/seiyria"
  ,
    "name": "twitter"
    "link": "https://twitter.com/seiyria"
  ]
,
  "name": "r\u00E9sum\u00E9",
  "children": [
    "name": "c#",
    "children": [
      "name": "mvc"
    ,
      "name": "webapi"
    ,
      "name": "xna"
    ]
  ,
    "name": "ci"
    "children": [
      "name": "jenkins"
    ,
      "name": "teamcity"
    ,
      "name": "travis-ci"
    ]
  ,
    "name": "css"
    "children": [
      "name": "less"
    ,
      "name": "twitter bootstrap"
    ]
  ,
    "name": "editors"
    "children": [
      "name": "eclipse"
    ,
      "name": "notepad++"
    ,
      "name": "sublime text"
    ,
      "name": "visual studio"
    ]
  ,
    "name": "html"
  ,
    "name": "java",
    "children": [
      "name": "android"
    ,
      "name": "ant"
    ,
      "name": "pircbotx"
    ,
      "name": "project lombok"
    ]
  ,
    "name": "javascript",
    "children": [
      "name": "bower"
    ,
      "name": "casperjs"
    ,
      "name": "coffeescript"
    ,
      "name": "d3.js"
    ,
      "name": "google apps"
    ,
      "name": "grunt"
    ,
      "name": "html5 canvas"
    ,
      "name": "jquery"
    ,
      "name": "knockout.js"
    ,
      "name": "nodejs"
    ,
      "name": "phantomjs"
    ,
      "name": "twitter bootstrap"
    ]
  ,
    "name": "latex"
  ,
    "name": "php"
  ,
    "name": "python"
    "children": [
      "name": "sublime text plugins"
    ,
      "name": "web2py"
    ]
  ,
    "name": "shell"
    "children": [
      "name": "bash"
    ,
      "name": "batch"
    ,
      "name": "powershell"
    ]
  ,
    "name": "sql"
    "children": [
      "name": "mysql"
    ,
      "name": "mongodb"
    ,
      "name": "mssql"
    ,
      "name": "derby"
    ,
      "name": "sqlite"
    ]
  ,
    "name": "test"
    "children": [
      "name": "chai"
    ,
      "name": "mocha"
    ,
      "name": "nunit"
    ,
      "name": "junit"
    ]
  ,
    "name": "vcs"
    "children": [
      "name": "hg",
    ,
      "name": "git"
    ,
      "name": "svn"
    ]
  ]
,
  "name": "projects"
  "children": [
    "name": "bootstrap-slider"
    "link": "https://github.com/seiyria/bootstrap-slider"
  ,
    "name": "jsmegahal"
    "link": "https://github.com/seiyria/jsmegahal"
  ,
    "name": "kurea"
    "link": "https://github.com/kellyirc/kurea"
  ,
    "name": "sublime dreams"
    "link": "https://github.com/seiyria/sublime-dreams"
  ,
    "name": "tekdice"
    "link": "https://github.com/tekdice/monster-mixer"
  ,
    "name": "chartalog"
    "link": "http://chartalog.com"
  ]
]
